:root{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



header{
    text-decoration: underline 3px;
    padding:1rem;
    background-color: white;
    border: solid 4px black;
}

form{
    padding-left: 20px;
    margin: 1.5em;
    padding: 2em;
    background-color: aquamarine;
    border:solid 3px black;
}

button{
    margin-left: 1em;
}

input{
    margin:1em;
}

fieldset{
    background-color: aqua;
}